# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Dependências do frontend
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production

# Dependências do backend (caso esteja usando o Node.js)
backend/node_modules/

# Diretórios de build e output
frontend/build/
frontend/dist/
frontend/.next/
frontend/out/
frontend/public/

# Arquivos de cache
.cache/
.parcel-cache/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

# Outros arquivos temporários
.history/

# Arquivos de configuração locais e específicos de ambientes
frontend/.env.local
backend/.env
backend/.env.local

# Arquivos de log
*.log

# Diretórios de testes temporários (caso existam)
test/tmp/
